<%#
    add_column :items, :sn, :string
    add_column :items, :brand, :string
    add_column :items, :inbox, :boolean
    add_column :items, :scale, :string
    add_column :items, :dateval, :decimal
    add_column :items, :sellprice, :decimal
    add_column :items, :selldata, :datetime
%>

<%= form_for @item, :html => { :multipart => true } do |f| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-lg-4 col-md-4 required">
      <%= f.label(:title, "Name", :class => "control-label") %>
      <%= f.text_field :title, :class => "form-control", :placeholder => "Train name" %>
    </div>
    <div class="form-group col-lg-2 col-md-2">
      <%= label(:item, :scale, "Scale factor") %>
      <%= f.text_field :scale, :class => "form-control", :placeholder => "Scale"  %>
    </div>
    <div class="form-group col-lg-2 col-md-2">
      <%= label(:item, :inbox, "Original box?") %>
      <div class="">
      <%= f.check_box :inbox  %>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-4 col-md-4">
      <%= f.label :serial %>
      <%= f.text_field :sn, :class => "form-control", :placeholder => "S/N"  %>
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <%= f.label :brand %>
      <%= f.text_field :brand, :class => "form-control", :placeholder => "Marque"  %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-4 col-md-4">
      <%= f.label :description %>
      <%= f.text_area :text, :class => "form-control", :placeholder => "Description" %>
    </div>
    <div class="form-group col-lg-4 col-md-4">
      <%= f.label :image %>
      <%= f.file_field :trainimage, :class => "filestyle", "data-icon" => true %>
    </div>
  </div>

  <p>
    <%= f.submit class: "btn btn-success  " %>
  </p>

<% end %>
