<div class="text-center">
<%= paginate @items %>
</div>
<p></p>

<table class="table">
  <% @items.each do |item| %>
    <tr>
      <td class="col-md-3"><%= image_tag item.trainimage.url(:thumb) %></td>
      <td class="col-md-3"><%= item.title %></td>
      <td class="col-md-3"><%= item.text %></td>
      <td class="col-md-1"><%= link_to (fa_icon "eye"), item_path(item) %></td>
      <td class="col-md-1"><%= link_to (fa_icon "pencil"), edit_item_path(item) %></td>
      <td class="col-md-1">
        <%= link_to (fa_icon "trash-o"),  item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="text-center">
<%= paginate @items %> <br/>
<%= page_entries_info @items %>
</div>
