<!DOCTYPE html>
<html>
<head>
  <title>Trainitems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <div class="span12">
          <%= render 'layouts/header' %>
          <%= yield %>
      </div>
  </div>
</body>
</html>
